/////////////////////////////////////////////////////////////////////////////
// Name:        StackBuilder.rc
// Purpose:     StackBuilder resources
// Author:      Dave Page
// Created:     2007-02-13
// RCS-ID:      $Id: StackBuilder.rc,v 1.2 2011/11/29 13:17:41 dpage Exp $
// Copyright:   (c) EnterpriseDB
// Licence:     BSD Licence
/////////////////////////////////////////////////////////////////////////////

#if defined(_WIN32_WCE)
#undef _WIN32_WCE
#endif

#include <winver.h>
#include "Config.h"

// Icon (Don't remove the aaa prefix - it makes it the default icon!)
aaaSTACKBUILDER      ICON    DISCARDABLE     "include/images/StackBuilder.ico"


VS_VERSION_INFO VERSIONINFO 
FILEVERSION    VERSION_NUM
PRODUCTVERSION VERSION_NUM
FILEOS         VOS__WINDOWS32
FILETYPE       VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN 
            VALUE "FileVersion",     VERSION_STR, "\0"
            VALUE "File Version",    VERSION_STR, "\0"
            VALUE "FileDescription", "Stack Builder for PostgreSQL and EnterpriseDB Postgres Plus", "\0"
            VALUE "LegalCopyright",  "Copyright 2007-2011, EnterpriseDB", "\0"
            VALUE "LegalTrademarks", "This software is released under the BSD licence", "\0"
            VALUE "InternalName",    "StackBuilder", "\0"
            VALUE "OriginalFilename","StackBuilder.exe", "\0"
            VALUE "ProductName",     "StackBuilder", "\0"
            VALUE "ProductVersion",  VERSION_STR, "\0"
#ifdef BUILD
            VALUE "Build",           BUILD, "\0"
#endif
        END 
    END
    BLOCK "VarFileInfo" 
    BEGIN 
        VALUE "Translation", 0x0409, 0x04E4
    END 
END 

